img {
  border-radius: 5px;
}

.contentB img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.linkImages {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.linkImages span {
  width: calc(50% - (7.5px));
  height: auto;
  position: relative;
  text-align: center;
}

.linkImages span img {
  width: 100%;
  height: 100%;
}

.linkImages span:nth-child(1),
.linkImages span:nth-child(2) {
  margin-bottom: 15px;
}

.linkImages span:nth-child(odd) {
  margin-right: 7.5px;
}

.linkImages span:nth-child(even) {
  margin-left: 7.5px;
  float: right;
}

.linkImages span div {
  position: absolute;
  top: 8px;
  left: 16px;
}

.linkImages span div a {
  text-decoration: none;
}

.linkImages span div a:hover {
  text-decoration: underline;
}

.linkImages span div a {
  text-shadow: 2px 4px 3px rgba(255, 255, 255, 1),
    0px 8px 13px rgba(255, 255, 255, 1), 0px 18px 23px rgba(255, 255, 255, 1);
}
