/* the entire webpage */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
:root {
  --primary: #50ecfb;
  --secondary: #39404f;
  --back: #515b70;
}
* {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 25pt;
  color: var(--secondary);
}
h1 {
  font-size: 35pt;
}
h2 {
  font-size: 30pt;
  margin: 0;
}
p,
span {
  font-size: 18pt;
}
html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  min-width: fit-content;
}
.content {
  width: 60%;
  height: 100%;
  margin: 20px 20%;
  background: var(--primary);
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--primary) 80%,
    var(--back) 95%,
    var(--back) 100%
  );
  border-radius: 3px;
}
.flexbox {
  display: flex;
}
.contentAll {
  width: 90%;
  padding: 1% 5%;
  white-space: pre-line;
}
.contentA,
.contentB {
  width: 50%;
  padding: 15px;
  display: 1;
}

.contentB {
  float: right;
  display: inline-block;
}
.break {
  flex-basis: 100%;
  height: 0;
  page-break-after: always; /* CSS 2.1 syntax */
  break-after: always !important;
}
/* navbar */
ul.myNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(51, 51, 51);
  width: 100% !important;
}

ul.myNavbar:first-child {
  padding-left: 20%;
}

ul.myNavbar li {
  float: left;
}

ul.myNavbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.myNavbar li a span {
  color: white;
  font-size: inherit;
}

ul.myNavbar li a.active,
ul.myNavbar li a.active > span {
  color: var(--primary);
}

ul.myNavbar li a:hover {
  background-color: #111;
}

.contentTable {
  width: 100%;
  margin: 0;
}
.contentTable tr {
  width: 50%;
}
.contentTable tr td img,
.contentTable tr td video {
  width: 95%;
  margin-left: 2.5%;
  border-radius: 10px;
}

.contentTable tr td {
  width: 50%;
  padding: 10px;
}

.contentAll h1,
.contentAll p,
.contentAll ul {
  margin-top: -30px;
}
