:root {
  --primary: #9082dc;
  --secondary: #1c222f;
  --back: #f6faf9;
}

.container > img {
  height: auto;
  width: 27%;
  margin: 0 1%;
  object-fit: cover;
  border-radius: 5px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.familyTable {
  width: 100%;
  border-collapse: collapse;
}

.familyTable tr td,
.familyTable tr th {
  text-align: center;
  border: 1px solid var(--back);
}
.noMobile {
  font-size: inherit;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .container > img {
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 20px;
    display: block;
  }
}
@media (max-width: 600px) {
  .familyTable tr th,
  .familyTable tr td {
    display: block;
    border: none;
  }
  .familyTable tr th:nth-child(3),
  .familyTable tr td:nth-child(3) {
    border-bottom: 1px solid #ccc;
    position: relative;
  }
  .familyTable tr:last-child td:nth-child(3) {
    border-bottom: none;
  }
}
